rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /batteries/{serial} {
      allow read: if true;
      allow write: if true; // TEMP (Phase 1 Step 3 में fix)
    }
  }
}
